/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

header {
    padding: 1em 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.section {
    text-align: center;
    padding: 8vw;
}

.about_container {
    width: 50%;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 2vw;
}

.biography_container {
    width: 50%;
    left: 0;
    right: 0;
    margin: auto;
}

.about_container h1 {
    font-size: 4vw;
}

.my_biography {
    line-height: 35px;
}

.my_biography p {
  line-height: 3vw;
  font-size: 1vw;
}


.team-members {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.team-member {
    text-align: center;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/*------------------*/
/*      FOOTERS     */
/*------------------*/

.footer {
    background-color: #fff;
    text-align: center;
    padding: 3em 1em 0 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer_menu, .footer_post_text {
    background-color: #fff;
    text-align: center;
    padding-top: 1em;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.footer .icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.footer button {
    background-color: #0077b5;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.833vw;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.footer img:hover, .footer button:hover, .footer_menu:hover {
    transform: scale(1.2);
}

.footer button img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
}

.about_highlight {
    color: #1559d8;
    font-weight: bold;
    font-size: 1.2em;
}

.footer_highlight {
    color: #1559d8;
    font-weight: bold;
    font-size: 1.2em;
}

.squiggly_underline {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #1559d8; /* You can change this to any color you prefer */
    text-underline-offset: 1.5vw;
}

.highlight_underline {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #1559d8; /* You can change this to any color you prefer */
    text-underline-offset: .2vw;
}

/* Updated CSS for the permanent red circle */
.highlight_circle {
    position: relative;
    display: inline-block;
    padding: 5px; /* Adjust padding to ensure space for the circle */
}

.highlight_circle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 120%;
    border: 2px solid #d61313;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: circleExpand 1s ease-out forwards;
}

@keyframes circleExpand {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        width: 105%;
        height: 105%;
        opacity: 1;
    }
}

.wave_animation {
    display: block;
    width: 100%;
    height: 60px;
    max-height: 60px;
    margin: 0;
    z-index:5;
    bottom:0;
    top:0;
    position:absolute;
    left:0px;
    float:left;
  }
  
  .parallax1 > use {
    animation: move-forever1 10s linear infinite;
    &:nth-child(1) {
      animation-delay: -2s;
    }
  }
  .parallax2 > use {
    animation: move-forever2 8s linear infinite;
    &:nth-child(1) {
      animation-delay: -2s;
    }
  }
  .parallax3 > use {
    animation: move-forever3 6s linear infinite;
    &:nth-child(1) {
      animation-delay: -2s;
    }
  }
  .parallax4 > use {
    animation: move-forever4 4s linear infinite;
    &:nth-child(1) {
      animation-delay: -2s;
    }
  }
  @keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
  }
  @keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  @keyframes move-forever3 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
  }
  @keyframes move-forever4 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  .wave_animation_container {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
.color-block {
    background:#1559d8;
    width:60%;
    padding:7% 20% 10% 20%;
    color:#fff;
}

.color-block h1 h3 {
    color: #fff;
}

.color-block-red {
    background:#d81515;
    width:60%;
    padding:7% 20% 10% 20%;
    color:#fff;
}

.color-block-red h1 h3 {
    color: #fff;
}

.white-block {
    background:#fff;
    width:60%;
    padding:7% 20% 10% 20%;
    color:#1559d8;
}

.white-block h1 h3 {
    color: #1559d8;
}

/*------------------*/
/*  SKEW CLOCKWISE  */
/*------------------*/
.skew-cc {
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to right bottom, #1559d8 49%, #fff 50%),    linear-gradient(-50deg, #ffffff 16px, #000 0);
}
  
  
/*-------------------------*/
/* SKEW COUNTER CLOCKWISE  */
/*-------------------------*/
.skew-c {
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to left bottom, #fff 49%, #1559d8 50%);
}

.skew-c-red {
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to left bottom, #fff 49%, #d81515 50%);
}

.about_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.about_image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}